# IMC2 Freedom C++ CL-2.3 AFKMud 2.3 configuration file.
# This file can now support the use of tildes in your strings.
# This information can be edited online using the 'imcconfig' command.
LocalName      Your ONE WORD mud name here
Autoconnect    0
MinPlayerLevel 10
MinImmLevel    101
AdminLevel     113
Implevel       115
InfoName       Your full mud name here
InfoHost       Your host address (DNS or IP)
InfoPort       9500
InfoEmail      admin@yourmud.com
InfoWWW        https://yourmudsite.url
InfoDetails    Something short but relevent.

# Your server connection information goes here.
# This information should be available from the network you plan to join.
ServerAddr     server02.intermud.us
ServerPort     9000
ClientPwd      Choose a password
ServerPwd      Choose a password
#SHA256 auth: 0 = disabled, 1 = enabled.
SHA256         1
